<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VUEJS Emails</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="!error">
                <ul v-if="emails.length === 10">
                    <li v-for="email in emails">{{email}}</li> 
                </ul>
            </div>
            <div v-else>
                <h1>Errore! riprova più tardi 😱</h1>
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>